<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <div class="container">
            <a href="/" class="back-home">← Home</a>
            <h1>Admin Login</h1>
            <% if (error) { %>
                <p class="error"><%= error %></p>
            <% } %>
            <form action="/become-admin" method="POST">
                <input type="password" name="passcode" placeholder="Admin Passcode" required />
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
