<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="device-width, initial-scale=1.0">
        <title>Join Club</title>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <div class="container">
            <a href="/" class="back-home">← Home</a>
            <h1>Enter Secret Passcode</h1>
            <% if (error) { %>
                <p class="error"><%= error %></p>
            <% } %>
            <form action="/join" method="POST">
                <input type="password" name="passcode" placeholder="Passcode" required />
                <button type="submit">Join</button>
            </form>
        </div>
    </body>
</html>
