<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="device-width, initial-scale=1.0">
        <title>Log-In</title>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <div class="container">
            <a href="/" class="back-home">← Home</a>
            <h1>Log In</h1>
            <% if (errors && errors.length > 0) { %>
                <div class="error">
                    <% errors.forEach(error => { %>
                        <span><%= error %></span>
                    <% }) %>
                </div>
            <% } %>
            <form action="/log-in" method="POST">
                <input type="email" name="email" placeholder="Email" required />
                <input type="password" name="password" placeholder="Password" required />
                <button type="submit">Log In</button>
            </form>
        </div>
    </body>
</html>
