<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign-Up</title>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <h1>Sign Up</h1>
        <% if(errors) {%>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>
        <form action="/sign-up" method="POST">
            <input type="text" name="firstName" placeholder="First Name" value="<%= oldData.firstName || '' %>" required />
            <br/>
            <input type="text" name="lastName" placeholder="Last Name" value="<%= oldData.lastName || '' %>" required />
            <br/>
            <input type="email" name="email" placeholder="Email" value="<%= oldData.email || '' %>" required />
            <br/>
            <input type="password" name="password" placeholder="Password" required />
            <br/>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required />
            <br/>
            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>